<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciman.dao.AttendProjectMapper">

    <select id="getProjectAttendanceViewOfProjectId" resultType="com.sciman.vo.project.ProjectAttendanceView">
        select a.id          as id,
               r.employee_id as researcher_id,
               r.name        as researcher_name,
               p.name        as project_name
        from attend_project a
                 join researcher r on a.researcher_id = r.employee_id
                 join project p on a.project_id = p.project_id
        where a.project_id = #{projectId}
    </select>
</mapper>
