<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciman.dao.ResearcherMapper">
    <insert id="insertResearcher">
        insert into researcher(laboratory_id, name, gender, title, age, orientation)
        values (#{laboratoryId}, #{name}, #{gender}, #{title}, #{age}, #{orientation})
    </insert>
    <update id="updateResearcher">
        update researcher
        <set>
            <if test="laboratoryId != null">
                laboratory_id = #{laboratoryId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="orientation != null">
                orientation = #{orientation},
            </if>
        </set>
        where employee_id = #{employeeId}
    </update>

    <select id="listResearcherView" resultType="com.sciman.vo.person.ResearcherView">
        select employee_id, l.name laboratory_name, r.name as name, gender, age
        from researcher r join laboratory l on r.laboratory_id = l.id
        <where>
            <if test="nameFilter != null">
                r.name like '%${nameFilter}%'
            </if>
            <if test="laboratoryNameFilter != null">
                and l.name like '%${laboratoryNameFilter}%'
            </if>
        </where>
    </select>

    <select id="listAllResearcherView" resultType="com.sciman.vo.person.ResearcherView">
        select employee_id, l.name laboratory_name, r.name as name, gender, age
        from researcher r join laboratory l on r.laboratory_id = l.id
        <where>
            <if test="laboratoryId!=null">
                l.id = #{laboratoryId}
            </if>
        </where>
    </select>
</mapper>
