<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciman.dao.ResearcherMapper">

    <select id="listResearcherView" resultType="com.sciman.vo.person.ResearcherView">
        select employee_id, l.name laboratory_name, r.name as name, gender, age
            from researcher r join laboratory l on r.laboratory_id = l.id
        <where>
            <if test="nameFilter != null">
                r.name like '%${nameFilter}%'
            </if>
        </where>
    </select>
</mapper>
