<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sciman.dao.SecretaryMapper">
    <update id="updateSecretary">
        update secretary
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="employDate != null">
                employ_date = #{employDate},
            </if>
            <if test="duty != null">
                duty = #{duty},
            </if>
        </set>
        where employee_id = #{employeeId}
    </update>

    <select id="getSecretaryFor" resultType="com.sciman.vo.person.SecretaryView">
        select * from secretary
        <where>
            <if test="nameFilter!=null">
                name like '%${nameFilter}%'
            </if>
        </where>
    </select>
</mapper>
